@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather:wght@700&family=Roboto:wght@400;500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Karla&family=Merriweather:wght@700&display=swap');
$font-body: 'Roboto';
$font-size-body: 15px;

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    background-color: rgb(66, 22, 22);
}
.imgHero{
    position: relative;
    width: 100%;
   
}
.logo{
    position: absolute;
    z-index: 2;
    width: 220px;
    left: 10%;
    top: 10%;
}
.header{
    font-family: 'Alata', sans-serif;
    color: #fff;

    position: absolute;
    z-index: 2;
    top: 10%;
    right: 18%;
   
   
    &__nav {
      display: flex;
      list-style: none;
      gap: 20%;
    }
}
.footer {
    background-color: black;
    height: 150px;
    width: 100%;
    display: flex;
    padding: 40px 140px;
    justify-content: space-between;
    
    &__logo {
        width: 150px;
        height: 25px;
    }
    &__icons {
        display: flex;
        gap: 20px;
    }
    &__img {
        width: 22px;
        height: 22px;
        cursor: pointer;
    }
    &__section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__nav {
      display: flex;
      list-style: none;
      font-family: 'Alata', sans-serif;
      color: #fff;
      gap: 30px;
      cursor: pointer;
    }
   
    &__text {
        font-family: 'Alata', sans-serif;
        font-size: $font-size-body;
        color: rgb(107, 107, 107);
        font-weight: 500;
    }
    &__finalSection {
        align-items: center;
    }
}

@media screen and (max-width: 700px) {

    .footer {
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 100%;
        align-items: center;
        padding: 20px 10px;

        &__section {
            gap: 10px;
        }
        &__nav {
            display: flex;
            flex-direction: column;
        }
        &__finalSection {
            align-items: center;
        }
    }
}
